#========================================================================
[Unit]

# Description
Description=Weave
Documentation=man:systemd.special(7)

# Settings
RefuseManualStart=no

# Needs the network to be up
After=network-online.target

# Needs Weave router and proxy services
Requires={{SERVICE_FILE_LIST}}


#========================================================================

[Install]
WantedBy=multi-user.target
